* {
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #271c1c;
  color: #e2d8ba;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hmod {
  height: 15vh;
}

header {
  height: 8vh;
  width: 100vw;
  padding: 2rem 2rem;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

header .menu {
  width: 8%;
  right: auto;
  left: auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .bars {
  width: 100%;
  border-bottom: solid 2px #e2d8ba;
  margin-top: 0.6rem;
}

header .open {
  width: 87%;
}

header .open .bar3 {
  border-bottom: solid 3px #ccf146;
}

header .menu-options {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .menu-options div {
  margin: 1rem 35%;
}

header .showing {
  opacity: 100;
}

main {
  width: 100vw;
  height: 80vh;
  border-top: solid 2px #e2d8ba;
}
