$bglight1:rgb(235, 226, 226);
$txtlight1: rgb(58, 51, 51);

$bgdark1:rgb(43, 33, 33);
$txtdark1: rgb(243, 226, 188);


*{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: $bglight1;
    color: $txtlight1;
    width: 100vw;
    height: 100vh;
}