header{
    height: 10vh;
    width: 100vw;
    border-bottom: solid 1px $txtlight1;
    display: flex;
    flex-direction:row;
}

main{
    height: 70vh;
    border-bottom: solid 1px $txtlight1;
}

footer{
    height: 20vh;
}


a{
    text-decoration: none;
    color: $linkscolor;
}

a:hover{
    color: $linksselected;
}
