
$bgcolor1: rgb(0, 1, 43);
$txtcolor1: rgb(211, 214, 195);

$bgcolor2: rgb(245, 195, 195);
$txtcolor2: rgb(51, 24, 24);

$menubg: rgb(56, 55, 55);
$menutxt: rgb(34, 33, 33);



*{
    margin: 0;
    padding: 0;
    position: relative;
}