@import 'init';



.dark{
    background-color: $bgcolor2;
    color: $txtcolor2;
}


body{
    background-color: $bgcolor1;
    color: $txtcolor1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s;
    width: 100vw;
    height: 100vh;
}


.menu-body{
    background-color: $menubg;
    color: $menutxt;
}

.header-mod{
    border:none;
}

.header-border-dark{
    border-color: $txtcolor2;
}


header{
    height: 10vh;
    width: 100vw;
    border-bottom: solid 1px $txtcolor1;
    transition: all 0.5s;
    //transition-delay: 0.0s;


    display: flex;
    flex-direction: row;

    nav{
        width: 20vw;        
        .menu{
            opacity: 0%;
            position: absolute;
            top: 0px;
            height: 100vh;
            width: 0vw;
            background-color: $txtcolor1;
            color: $bgcolor1;
            transition: all 1s;

            .menu-opt{
                margin: 6vh 20vw;
            }
        }

        .menu-show{
            opacity: 60%;
            width: 50vw;
            z-index: 3;
        }
        
        .menu-logo{
            .bar{
                width: 15vw;
                margin: 10px 1vw;
                border-bottom: solid 2px $txtcolor1;
                transition: all 1s;
            }

            .bar-reduc{
                width: 0;
                margin: 10px 0;
            }

            .border-dark{
                border-color: $txtcolor2;
            }
        }


    }

    .filler{
        width: 50vw;
    }

    .dl{
        width: 30vw;
        text-align: center;
        
        h5{
            font-size: x-large;
            padding-top: 2vh;

            .highlight{
                color: orangered;
            }

        }
    }

}


.mini{
    font-size: small;
}


main{
    height: 70vh;
    width: 96vw;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

footer{
    height: 16vh;
}

